<html>
  <head>
    <title>A Mind Beside Itself</title>
  </head>
  <body>
    <h1>Create New Game</h1>
    <span>Player 1:</span>
    <span>{{ acc.user.nickname }}</span>
    <form method="post">
      <label for="player2">Player 2</label>
      <input type="text" name="player2"/>
      <label for="player2">Player 3</label>
      <input type="text" name="player3"/>
      <label for="player2">Player 4</label>
      <input type="text" name="player4"/>
      <input type="submit" value="Create"/>
    </form>
  </body>
</html>
