<html>
  <head>
    <title>A Mind Beside Itself</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css"/>
	<script type="text/javascript" src="scripts/jquery.js"></script>
	<script type="text/javascript" src="scripts/images.js"></script>
    <audio id="intro-player" onended="replay_audio()" autoplay="true">
	  <source src="sounds/first-intro.mp3" type="audio/mpeg"/>
	  <source src="sounds/first-intro.ogg" type="audio/ogg"/>
	  Your browser does not support audio
	 </audio>
	<script>
		$(document).ready(function(){
			for(var i=0; i<30; i++)
				animateImage();
		});    
		function replay_audio(){
			alert("starting again");
			 $("#intro-player").attr("play","true");
		 };
	</script>
  </head>
  <body class="main-body">
    <h1>Create New Game</h1>
	  <div id="imgloader"><img class="image" src="images/intro/pageofcups.png"></div>
      <div class="playernames">
        <span>Player 1:</span>
        <span>{{ acc.user.nickname }}</span>
        <form method="post">
          <label for="player2">Player 2:</label>
          <input type="text" name="player2"/><br/>
          <label for="player2">Player 3:</label>
          <input type="text" name="player3"/><br/>
          <label for="player2">Player 4:</label>
          <input type="text" name="player4"/></br>
          <label for="game_name"/>
          <input type="text" name="game_name"/>
          <input type="submit" value="Create"/>
        </form>
      </div>
  </body>
</html>
