<html>
  <head>
    <title>A Mind Beside Itself</title>
    <script type="text/javascript" src="scripts/jq.js"></script>
    <script type="text/javascript" src="scripts/game.js"></script>
    <script type="text/javascript" src="scripts/sndLoader.js"></script>
	<audio id="intro-player" onended="replay_audio()" autoplay="true">
	 <source src="sounds/main.mp3" type="audio/mpeg"/>
	 <source src="sounds/main.ogg" type="audio/ogg"/>
	 Your browser does not support audio
	</audio>
    <audio id="horn-sound" onended="setupSounds()">
	   <source src="sounds/horn.mp3" type="audio/mpeg"/>
	   <source src="sounds/horn.ogg" type="audio/ogg"/>
	   Your browser does not support audio
	 </audio>
	 <audio id="train-sound" onended="setupSounds()">
	   <source src="sounds/train.mp3" type="audio/mpeg"/>
	   <source src="sounds/train.ogg" type="audio/ogg"/>
	   Your browser does not support audio
	 </audio>
	 <audio id="pa-sound" onended="setupSounds()">
	   <source src="sounds/pa.mp3" type="audio/mpeg"/>
	   <source src="sounds/pa.ogg" type="audio/ogg"/>
	   Your browser does not support audio
	 </audio>
	 <audio id="mindthegap-sound" onended="setupSounds()">
	   <source src="sounds/mindthegap.mp3" type="audio/mpeg"/>
	   <source src="sounds/mindthegap.ogg" type="audio/ogg"/>
	   Your browser does not support audio
	 </audio>
	<script>
	$(document).ready(setupSounds);
	function replay_audio(){
		document.getElementById('intro-player').play();
	}
	</script>
    <link rel="stylesheet" type="text/css" href="styles/game.css"/>
  </head>
  <body>
    <img src="images/station_wall.png" id="wall"/>
    <img src="images/tracks.png" id="tracks"/>
    <img id="major_arcana" style="display: none;"/>
    <img id="minor1" style="display: none;"/>
    <img id="minor2" style="display: none;"/>
    <div id="counter">
      <span></span> steps left
    </div>
  </body>
</html>
