<html>
  <head>
    <title>A Mind Beside Itself</title>
    <script type="text/javascript" src="scripts/jq.js"></script>
    <script type="text/javascript" src="scripts/game.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/game.css"/>
  </head>
  <body>
    <img src="images/station_wall.png" id="wall"/>
    <img src="images/tracks.png" id="tracks"/>
    <img id="major_arcana" style="display: none;"/>
    <img id="minor1" style="display: none;"/>
    <img id="minor2" style="display: none;"/>
    <div id="counter">
      <span></span> steps left
    </div>
  </body>
</html>
