<html>
  <head>
    <title>A Mind Beside Itself</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css"/>
  </head>
  <body class="main-body">
    <h1>A Mind Beside Itself</h1>
    <h2>Welcome, {{ acc.user.nickname }}</h2>
    <h3>List of games:</h3>
    <ul id="game_list">
      {% for game in games %}
      <li>
        <a class="game_name" href="game?game_id={{ game.game_id }}">
          {{ game.game_name }}: 
        </a>
        <span>
          {% for player in game.players %}
          {{ player }}
          {% endfor %}
        </span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <a href="create">Create new game</a>
  </body>
</html>
